body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

body header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; ;
    height: 5%;
}

nav h2 a{
    text-decoration: none;
    color: rgb(112, 56, 169);
}

nav ul li{
    display: inline;
    margin: 15px;
}

nav ul li a{
    text-decoration: none;
    color: ivory;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: rgb(112, 56, 169);
}

h2{
    font-family: myfont;
    font-size: 35px;
}

@font-face {
    font-family: myFont;
    src: url(Deuxieme_Rang.otf);
}

section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30vh;
}

#sec1{
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#sec1 div h1{
    font-size: 40px;
    color: rgb(112, 56, 169);
}
#sec1 div p{
    font-size: 20px;
    color: rgb(31, 30, 32);
}
#sec1 div button{
    padding: 10px 20px;
    background-color: rgb(112, 56, 169);
    color: ivory;
    font-weight: bold;
    border-radius: 20px;
    margin: 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: none;
}
#sec1 div button:hover{
    color: rgb(112, 56, 169);
    background-color: rgb(248, 229, 204);
    cursor: pointer;
}

#sec2{
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: rgb(112, 56, 169);
    text-align: center;
    border-radius: 10px;
}

#sec2 div{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    background-color: orchid;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
}
#sec2 div:hover{
    transform: scale(1.05);
}


#sec2 div h3{
    font-weight: bold;
    color: ivory;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    color: white;
}